@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@theme {
  --color-background: #f5f5f5;
  --color-surface: #ffffff;
  --color-surface-secondary: #fafafa;

  --color-border: #e5e7eb;
  --color-border-secondary: #f0f0f0;

  --color-text: #111827;
  --color-text-button: #ffffff;
  --color-text-secondary: #6b7280;
  --color-placeholder: #9ca3af;

  --color-primary: #1677ff;
  --color-primary-hover: #4096ff;
  --color-secondary: #8b5cf6;

  --color-disabled: #f5f5f5;

  --color-protein: #1677ff;
  --color-fat: #d97706;
  --color-carbs: #8b5cf6;
  --color-water: #1677ff;

  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-danger: #dc2626;
}

html,
body,
#root,
#__next {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar,
.scroll-container::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

.scroll-container {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
